
#logo {
    height: 100px;
    width: auto;
    padding: 10px;
}

#logo2 {
    height: 100px;
    width: auto;
    padding: 10px;
    position: absolute;
}

h1 {
    margin-left: 20px;
}

header{
    background-color: #A3EAFF;
    height: 110px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.fa-home {
    margin-left: 1rem;
    margin-right: 1rem;
}

#navButton {
    vertical-align: right;
    justify-content: space-between;
    border: 2px solid #0352fc;
    min-width: 100px;
    margin-right: 1em;
    color: blue;
    font-weight: bold;
    line-height: 0px;
    display: inline-flex;
    align-items: center;
}

.bi-caret-down {
    color: blue;
}

article{
    background-color: #FFB8A3;
    margin-bottom: 10px;
    border-radius: 5px;
    padding:10px;
    border:4px solid #FF8865 ;
}

#offcanvas{
    background-color: #A3EAFF;
    min-height: 150px;
    width: 150px;
    border-radius: 5px;
    border: solid #0352fc 3px;
    margin-bottom: 10px;
    max-height: 200px;
    top: 110px;
}

#offcanvas a {
    width: 200px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #65DCFF;
    border-top: solid #0352fc 4px;
    height: 110px;
    width: 100%;
    padding-left: 1em;
}

footer p {
    margin-top: 1em;
}


footer img{
    height: 200px;
    width: auto;
    position: absolute;
    right: 0%;
}

a{
    display: block;
    text-decoration: none black;
    width: 54px;
}

body{
    background-color: rgb(204, 225, 231);
    font-family: perusteksti;
}

#welcome{
    text-align: center;
}
@font-face {
    font-family: FuzzyBubbles;
    src: url(suunnittelu/FuzzyBubbles-Bold.ttf);
  }
h1,h2,h3,h4,h5{
    font-family: FuzzyBubbles;
}
@font-face {
    font-family: perusteksti;
    src: url(suunnittelu/Comfortaa-Regular.ttf);
  }


  @media screen and (max-width: 470px) {
    header h1 {
        display: none;
    }

    header img {
        margin-left: 1rem;
    }

    .fa-home {
        margin-left: 1rem;
    }
    

  }
  @media  screen and (max-width: 580px) {
    footer img {
        display: none;
    }
    #offcanvas {
        min-width: 500px;
    }
  }