

#page-container {
    position: relative;
    min-height: 100vh;
  }

.container-fluid {
    padding-bottom: 11rem;
}

.footer {
    position: relative;
    bottom: 0;
    height: 11rem;
    width: 100vw;
}
#dog{
    justify-content: center;
    width: auto;
    height: 300px;
    margin-bottom: 20px;
}


#quizContainer{
    background-color: #FFB8A3;
    border: solid black 5px;
    border-radius: 5px;
    padding: 3rem;
    
}
#vastauslaatikko{
    padding-top: 20px;
}
.vinfo{
    background-color: #FFB8A3;
    border: solid black 5px;
    border-radius: 5px;
    padding: 30px;
    
}
@media screen and (max-width:430px) {
    #dog{width: 150px; height: auto;}
}