body{
    display: grid;
}

header{
    background-color: rgb(50, 170, 170);
}

nav{
    background-color: rgb(95, 117, 72);
    min-height: 150px;
    width: 150px;
    position: sticky;
}

footer{
    background-color: rgb(93, 117, 163);
}

a{
    display: block;
}