.container{
    min-height: 100vh;
}

#quiz {
    background-color: aliceblue;
}

#progressbar {
    text-align: right;
    padding-right: 10px;
}

#question {
    margin-top: 10px;
}

img {
    padding-bottom: 10px;
    max-height: 50vh;
}

.btn-outline-primary {
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-dark {
    margin-bottom: 10px;
}

h2 {
    margin-top: 10px;
}

span {
    font-weight: bold;
}