/* Pinja Åman */

html body {
    background-color: #EAFFA3;
    width: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.container-fluid {
    padding-bottom: 6.9rem;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 6.9rem;
    width: 100%;
    
}

#quizContainer {
    background-color: #FFB8A3;
    border: 4px solid #888888;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#question, p {
    margin-bottom: 10px;
    margin-left: 5px;
    font-family: perusteksti;
}

label {
    display: block;
    padding-bottom: 10px;
    margin-left: 5px;
}


.button {
    display: block;
    margin: 5px;
    border-radius: 5px;
}

span {
    display: inline-block;
}

#points {
    padding: 5px;
    margin-bottom: 20px;
    align-content: flex-end;
}

h2, .text {
    text-align: center;
}

@font-face {
    font-family: perusteksti;
    src: url(suunnittelu/Comfortaa-Regular.ttf);
  }