html body {
    height: 100%;
    background-color: #EAFFA3;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #A3EAFF;
    border-top: solid #0352fc 4px;
    height: 110px;
    width: 100%;
    padding-left: 1em;
}

#quizContainer {
    background-color: #FFB8A3;
    border: 2px solid #888888;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    margin: 10px;
}

#question, p {
    margin-bottom: 10px;
    margin-left: 5px;
}

label {
    display: block;
    padding-bottom: 10px;
    margin-left: 5px;
}


.button {
    display: block;
    margin: 5px;
    border-radius: 5px;
}

span {
    display: inline-block;
}
