.radioButton {
    display: block;
    padding-bottom: 5px;
}

#submit {
    display: block;
}

#logo {
    height: 100px;
    width: auto;
    padding: 10px;
    
}

h1 {
    margin-left: 20px;
}

header{
    background-color: #A3EAFF;
    height: 110px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

article{
    background-color: #FFB8A3;
    margin-bottom: 10px;
    border-radius: 5px;
    padding:10px;
    border:4px solid #FF8865 ;
}

nav{
    background-color: #A3EAFF;
    min-height: 150px;
    width: 150px;
    border-radius: 5px;
    border: solid #0352fc 3px;
    margin-bottom: 10px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #65DCFF;
    height: 150px;
    border-top: solid #0352fc 4px;
}


header img{
    height: 200px;
    width: auto;
    position: absolute;
    right: 0%;
}

a{
    display: block;
    text-decoration: none black;
}

body{
    background-color: rgb(204, 225, 231)
}
