* {
  font-family: FuzzyBubbles;
}
main { 
  background-color: #FFB8A3;
  border:4px solid #FF8865 ;
  border-radius:5px ;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding-left:3%;
    padding-right:3%;
    padding-top: 3%;
    padding-bottom: 3%;
    align-content: center;
}
body { 
  background-color: rgb(204, 225, 231);
}

footer {
  position: relative;
  bottom: 0;
  background-color: #65DCFF;
  border-top: solid #0352fc 4px;
  height: 110px;
  width: 100%;
  padding-left: 1em;
}

#offcanvas{
  background-color: #A3EAFF;
  min-height: 150px;
  width: 150px;
  border-radius: 5px;
  border: solid #0352fc 3px;
  margin-bottom: 10px;
  max-height: 200px;
  top: 110px;
 
}

#offcanvas a {
  width: 150px;
}

#logo {
  height: 100px;
  width: auto;
  padding: 10px;
}

    

#navButton {
  vertical-align: right;
  justify-content: space-between;
}
header{
  background-color: #A3EAFF;
  height: 110px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
#logo2 {
  height: 100px;
  width: auto;
  padding: 10px;
  float: right;

}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 999s;
}

button {
  margin: 2px;
}
@-webkit-keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 1}
  to {opacity: 1}
}
@font-face {
  font-family: FuzzyBubbles;
  src: url(../suunnittelu/FuzzyBubbles-Bold.ttf);
}
#myText {
  font-size: 30px;
}

@media screen and (max-width:700px) {
  #myText {
    font-size: 15px;
   
  }
  #logo {
    display: none;
  }
  #logo2 {
    display: none;
  }
  .container-fluid {
  justify-content: space-evenly;
  }
  header{
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    
  }
  #otsikko {
    display: none;
  }
}